################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PythonProgramming/v15
/PythonProgramming.pyproj
/PythonProgramming.pyproj.user
/PythonProgramming.sln
/Algorithms/.vscode/*
/PythonProgramming/.vscode/*.json
/.vscode/*

